.tiny-button button {
  padding: 7px 8px 7px 5px;
  cursor: pointer;
}
.tiny-button .spinner {
  transition: width 300ms ease-in-out, opacity 300ms ease-out;
  display: inline-block;
  width: 0;
  opacity: 0;
  text-align: left;
}
.tiny-button .spinner .fa-spinner {
  animation: spin 1s linear infinite;
}
.tiny-button[spin] .spinner {
  display: inline-block;
  width: 12px;
  opacity: 1;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
