.tooltip{
  background: #000;
  color: #fff;
  position: absolute;
  font-family: Arial;
  font-size: 10px;
  padding: 10px;
  top: 25px;
  left: 0;
  display: none;
}
.tooltip:after, .tooltip:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tooltip:after {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000;
  border-width: 5px;
  margin-left: -5px;
}
.tooltip:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 0px;
  margin-left: 0px;
}
*[need-tooltip]{
  position: relative;
}
